<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sliders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AE6715C1BF40C6F00E13C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AE671701BF40C7000E13C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AE6717B1BF40C7000E13C1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
